.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  text-align: center;
}

.cardRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2%;
 justify-content: space-around;
  width: 100%;
}

.cardStyle {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  border-radius: 12px;
  
}

.linkStyle {
  height: 90%;
  width: 90%;
}

.liLayout {
  width: 20%;
}

.p2 {
  font-size: x-small;
  text-align: center;
}